@tailwind base;
@tailwind components;
@tailwind utilities;




.user_img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.user_name {
  padding-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #EE1898;
}

.sub_title {
  padding-bottom: 0.2rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5F5D5D;
}

.question_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #EE1898;
}

.horizental_line {
  border: 1px solid #AEAEAE;
}

.date_group_area .label_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #3D3838;
}

.date_group_area .dates_btn .dates_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #3D3838;
}

.date_group_area .dates_btn .month {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #3D3838;
}

.date_group_area .select_btn .content {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.date_group_area .select_persion {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #3D3838;
}

.date_group_area .select_times {
  @apply absolute bg-white w-full h-64 text-center border border-[#AEAEAE] py-4 mt-1
}

.date_group_area textarea {
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #AEAEAE;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #5F5D5D;
  height: 157px;
  padding: 19px 20px;
}

.date_group_area .offer_btn {
  background: linear-gradient(270deg, #8D09CB -0.9%, #F41BC5 82.96%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}



/* cookies style */
.cookie_modal .title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.cookie_modal .content_text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #777777;
}

.cookie_modal .necessary_lock {
  border: 1px solid #A5B4C5;
  border-radius: 30px;
  padding: 2px 8px;
}

.cookie_modal .cookie_accept {
  background: linear-gradient(269.9deg, #00CDAC 1.45%, #38BEBB 99.91%);
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
}

.cookie_modal .cookie_save {
  background: #D4D4D4;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #6D6D6D;
  width: 100%;
}

/* send message style */

.message_form .label_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #3D3838;
}

.message_form textarea {
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #AEAEAE;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #5F5D5D;
  height: 157px;
  padding: 19px 20px;
}

.message_form .send_message {
  background: linear-gradient(270deg, #8D09CB -0.9%, #F41BC5 82.96%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

/* subscribe popup */
.subscribe_popup .title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.subscribe_popup .sub_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.subscribe_popup .label_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.subscribe_popup .select_text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
}

.subscribe_popup .label_btn {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border-radius: 10px;
}

.subscribe_popup .discount_text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.subscribe_popup .sub_label {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}


.subscribe_popup .radio_btn {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.subscribe_popup .time_btn {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.subscribe_popup .info_text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.subscribe_popup .price_btn .price {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.subscribe_popup .monthly {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.subscribe_popup .signin_btn {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #008080;
}

.subscribe_popup .cancel_plan {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

/* tailwind css common style use apply directive */

.schedule_area {
  @apply relative bg-[#1D4E60] rounded-[5px] flex col-span-2
}

.schedule_btn {
  @apply items-center px-3 py-2 flex justify-between w-full
}

.select_option {
  @apply text-white rounded-[5px] cursor-pointer px-4 py-[5px] my-1 select_text
}

.select_options {
  @apply absolute rounded-br-[5px] rounded-bl-[5px] top-8 bg-[#1D4E60] py-[5px] w-full
}

.commitment_level {
  @apply w-full label_btn py-[13px] px-[25px]
}

.commitment_level_border {
  @apply border-dashed border border-[#1D4E60]
}

.type_radio {
  @apply w-3 h-3 rounded-full outline outline-offset-2 outline-1 outline-white
}

.discount {
  @apply absolute bg-[#FFC200] px-[8px] py-[2px] z-10 rounded-[10px] right-[1px] -top-[7px]
}

.checkBox {
  @apply h-3 w-3 outline outline-offset-2 outline-1 cursor-pointer outline-white rounded-[1px]
}


/* live demo class popup */

/* class description */
.class_info .title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.class_info .desc_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2F3447;
}

.class_info .sub_title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2F3447;
}

.class_info .sub_title_2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2F3447;
}

.class_info .body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
}

/* class add cart */
.add_cart_card .title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.add_cart_card .sub_title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.add_cart_card .label_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.trial_select {
  @apply w-full rounded-md px-5 py-4 border border-[#D6D6D6] flex justify-between items-center my-2
}

.add_cart_card .trial_font {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.add_cart_card .sub_label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.add_cart_card .date_area {
  border: 2px solid #D6D6D6;
  border-radius: 10px;
}

.add_cart_card .date_area .date_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.add_cart_card .date_area .date {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.add_cart_card .time_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.add_cart_card .content {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.add_cart_card .confirm_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.add_cart_card .btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.add_cart_card .filling_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.add_cart_card .hurry_up {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #17A966;
}

/* requirements section */

.requirement .title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.requirement .title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.requirement .re_title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #4B4B4B;
}

/* mpas area */

.maps_area .title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #3D3838;
}

.maps_area .content_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #3D3838;
}

.maps_area .sub_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #3C3A3A;
}

.maps_area .content_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #5F5D5D;
  text-align: justify;
}

.maps_area .read_more {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #3C3A3A;
}

.maps_area .tool_tip {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #3C3A3A;
}

.maps_area .polygon {
  clip-path: polygon(0 0, 47% 100%, 100% 0);
  background: white;
  width: 15px;
  height: 15px;
  bottom: -12px;
  left: 46%;
}